body {
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #444;
    color: #ffffff;
    text-align: center;
    background: #355C7D;  
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
}

h1, h2 {
    font-weight: 300;
}